<h1><%= @task.board.name %></h1>
<h2>Create a new card in column "<%= @task.column.name %>"</h2>

<%= turbo_frame_tag dom_id(@task.column) do %>
  <%= form_with(model: [@task.column, @task]) do |form| %>
    <div class="task-card mt-2 bg-white p-2 rounded border-b border-gray-400 cursor-pointer text-sm">
        <%= form.text_field :name, placeholder: 'Enter a name for this task...', autofocus: true, class: 'focus:outline-none' %>
    </div>

    <div class="flex flex-no-wrap justify-between items-center">
      <%= form.submit "Add a task", class: 'block bg-green-500 my-2 p-2 text-sm text-grey-dark' %>
      <%= link_to @task.board, "data-turbo-frame": "_top" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M5.72 5.72a.75.75 0 011.06 0L12 10.94l5.22-5.22a.75.75 0 111.06 1.06L13.06 12l5.22 5.22a.75.75 0 11-1.06 1.06L12 13.06l-5.22 5.22a.75.75 0 01-1.06-1.06L10.94 12 5.72 6.78a.75.75 0 010-1.06z"></path></svg>
      <% end %>
    </div>
  <% end %>
<% end %>