<!DOCTYPE html>
<html>
  <head>
    <title>TrelloLike</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>
  <body>
    <header>
    </header>

    <main>
      <%= yield %>
      <%= render 'shared/flash_notifications' %>
    </main>

    <footer>
    </footer>
  </body>
</html>
